<%= form_with(model: kintai, local: true) do |form| %>
  <% if kintai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kintai.errors.count, "error") %> prohibited this kintai from being saved:</h2>

      <ul>
        <% kintai.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '出勤時刻' %>
    <%= form.hidden_field :start, value: Time.zone.now %>
  </div>

  <div class="actions">
    <%= form.submit '出勤する' %>
  </div>
<% end %>
